In [2]:
import numpy as np
import pandas as pd
from datetime import datetime

In [4]:
year = 2999
month = 12
day = 1
hour = 12
minute = 45
second = 17

anytime = datetime(year, month, day, hour, minute, second)
anytime

datetime.datetime(2999, 12, 1, 12, 45, 17)

In [5]:
anytime.year

2999

In [10]:
time_series = pd.Series(["Nov 3, 1990", "2021-02-12", "2012-12-12", None])

In [12]:
pd.to_datetime(time_series)

0   1990-11-03
1   2021-02-12
2   2012-12-12
3          NaT
dtype: datetime64[ns]

In [17]:
pd.to_datetime("12-11-2000")

Timestamp('2000-12-11 00:00:00')

In [18]:
pd.to_datetime("12-11-2000", dayfirst=True)

Timestamp('2000-11-12 00:00:00')

In [19]:
pd.to_datetime("12--Dec--2000", format="%d--%b--%Y")

Timestamp('2000-12-12 00:00:00')

In [29]:
sales = pd.read_csv("../ml/DATA/RetailSales_BeerWineLiquor.csv")

In [30]:
sales["DATE"] = pd.to_datetime(sales["DATE"])

In [31]:
sales["DATE"].dt.month

0       1
1       2
2       3
3       4
4       5
       ..
335    12
336     1
337     2
338     3
339     4
Name: DATE, Length: 340, dtype: int64

In [32]:
sales["DATE"][0].year

1992

In [25]:
sales = sales.set_index(sales["DATE"])

In [27]:
sales.head()

                 DATE  MRTSSM4453USN
DATE
1992-01-01 1992-01-01           1509
1992-02-01 1992-02-01           1541
1992-03-01 1992-03-01           1597
1992-04-01 1992-04-01           1675
1992-05-01 1992-05-01           1822