In [2]:
import numpy as np
import pandas as pd

In [2]:
data_one = {'A': ['A0', 'A1', 'A2', 'A3'],'B': ['B0', 'B1', 'B2', 'B3']}
data_two = {'C': ['C0', 'C1', 'C2', 'C3'], 'D': ['D0', 'D1', 'D2', 'D3']}
one = pd.DataFrame(data_one)
two = pd.DataFrame(data_two)

In [3]:
pd.concat([one, two], axis=1)

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [8]:
two.columns = one.columns
test_df = pd.concat([one,two], axis=0)
test_df.index = range(len(test_df))
test_df

    A   B
0  A0  B0
1  A1  B1
2  A2  B2
3  A3  B3
4  C0  D0
5  C1  D1
6  C2  D2
7  C3  D3

In [3]:
names_df = pd.Series(["axel", "bob", "cherry", "3"])

In [4]:
names_df.str.capitalize()

0      Axel
1       Bob
2    Cherry
3         3
dtype: object

In [5]:
names_df.str.upper()

0      AXEL
1       BOB
2    CHERRY
3         3
dtype: object

In [6]:
names_df.str.isdigit()

0    False
1    False
2    False
3     True
dtype: bool

In [ ]:
names_df.str.