<h1>Strings</h1>
<h3>Main properties</h3>
<ul>
    <li>Ordered sequence of characters (letters, digits, symbols, spaces)</li>
    <li>Left to right positional ordering of characters by index</li>
    <li>Immutable sequence: Cannot be changed in place</li>
    <li>Accessed by offset: fetch out a character by an offset</li>
    <li>Fixed-length</li>
    <li>Homogeneous: Unicode characters</li>
    <li>Not nestable: considered atomic</li>
    <li>Unicode Support: Python strings support Unicode characters</li>
</ul>

<h3>Initialization</h3>

In [3]:
str1 = "" # empty string
str2 = "abc123"
str3 = str(123.4)
str4 = """---
multiline
---""" # triple quoted block string
print(str1, str2, str3)
print(str4)
del str1, str2, str3, str4

 abc123 123.4
---
multiline
---

In [56]:
# escaping
str1 = "a\nb\tc\x00d"
print(str1)
del str1

a
b	c d

In [47]:
# String backslash characters
print("Hello\nWorld") # Newline (linefeed)
print("\\") # Backslash (stores one \)
print("\'") # Single quote (stores ')
print("\"") # Double quote (stores ")
print("Hello World\b") # Backspace
print("Hello\rWorld") # Carriage return
print("Hello\tWorld") #  Horizontal tab

Hello
World
\
'
"
Hello Worl
World
Hello	World

In [57]:
# raw strings (no exscape)
str1 = r"a\nb\tc\x00d"
print(str1)
del str1

a\nb\tc\x00d

In [92]:
# byte strings
"python".encode("utf8")

b'python'

In [4]:
# unicode strings
"sp\xc4m"

'sp√Ñm'

<h4>Indexing and Slicing</h4>

In [89]:
# [ start : end : step ]
# start => included
# end => excluded
# 012345
# python
s = "python"
print(s[1], s[-2])
print(s[2:], s[:2])
print(s[2:5])
print(s[::1],s[::-1],s[::2])

y o
thon py
tho
python nohtyp pto

<h4>Introspection</h4>

In [ ]:
# type
type("abc")

str

In [9]:
# length
len("abc")

3

In [61]:
# class attributes and methods
for attribute in dir("abc"):
    if not attribute.startswith("__"):
        print(attribute, end=" ")

capitalize casefold center count encode endswith expandtabs find format format_map index isalnum isalpha isascii isdecimal isdigit isidentifier islower isnumeric isprintable isspace istitle isupper join ljust lower lstrip maketrans partition removeprefix removesuffix replace rfind rindex rjust rpartition rsplit rstrip split splitlines startswith strip swapcase title translate upper zfill

In [ ]:
# count letter
"abbbccc".count("c")

0

In [27]:
# index/find
"abcb".index('b') # raise ValueError when the substring is not found.
"abcb".find('b')

1

<h3>Iteration</h3>

In [5]:
# character based iteration
for character in "abc":
    print(character)
del character

a
b
c

In [62]:
# index based iteration
for index in range(len("abc")):
    print(index, "abc"[index])
del index

0 a
1 b
2 c

In [71]:
# generator based iteration
iterator  = iter("abc")
print(next(iterator), next(iterator), next(iterator))

a b c

<h4>Transformation</h4>

In [23]:
# concatenation operation
"abc" + "123"

'abc123'

In [24]:
# repetition
"abc" * 3

'abcabcabc'

In [85]:
# split character sequence by seperator into a list
"Hello World".split(" ")

['Hello', 'World']

In [89]:
# partition, splits a string into three parts based on a specified separator
"I like apples but I love oranges.".partition("love")

('I like apples but I ', 'love', ' oranges.')

In [ ]:
# strips all whitespace characters from both ends.
" abc ".strip()

'abc'

In [26]:
# strips all passed in characters from both ends.
"accaHelloacacccaaa".strip("ac")

'Hello'

In [33]:
# replaces first with second parameter
"pay you".replace("you", "me")

'pay me'

In [34]:
# upper-case letters
"work harder".upper()

'WORK MORE'

In [37]:
# lower-case letters
"GET OUT".lower()

'get out'

In [38]:
# joins elements using string as a separator.
"+".join("abcd")

'a+b+c+d'

In [38]:
# capitalize words
"hello my friend".capitalize()

'Hello my friend'

In [117]:
# title 
"hello my Friend".title()

'Hello My Friend'

In [109]:
# casefold, performs caseless string comparison or normalization:
"hEllo mY Friend √ü".casefold()

'hello my friend ss'

In [82]:
# swapcase swaps the case of each character in the string. 
# uppercase letters are converted to lowercase, and lowercase letters are converted to uppercase.
"Hello World".swapcase()

'hELLO wORLD'

In [94]:
# center
"1st".center(10,".")

'...1st....'

In [79]:
# Creating a translation table using maketrans
original_chars = "eo"
replacement_chars = "‚Ç¨0"
translation_table = str.maketrans(original_chars, replacement_chars)
"Hello, world!".translate(translation_table)

'H‚Ç¨ll0, w0rld!'

In [81]:
# zfill pads the string with leading zeros to make it the specified width
"123".zfill(6)

'000123'

<h4>Testing</h4>

In [29]:
# member
"l" in "Hallo"

True

In [57]:
# start
"My name is nobody".startswith("My") # case sensitive

True

In [33]:
# end 
"My name is nobody".endswith('nobody') # case sensitive

True

In [101]:
# True if all characters in the string are alphabetic and there is at least one character
"python".isalpha()

True

In [100]:
# True if all characters in the string are alphanumeric and there is at least one character
"python3".isalnum()

True

In [114]:
# True if all characters in the string are decimal characters and there is at least one character
"33".isdecimal()

True

In [122]:
# True if all characters in the string are decimal characters and there is at least one character
"123".isdigit()

True

<h4>f-strings</h4>
<p>f-strings to interpolate expressions and
apply formatting</p>

In [146]:
# interpolate variables, strings
who = "nobody"
print(f"My name is {who:10}!") # fixed length
print(f"My name is {who:.2}!") # cut length
print(f"My name is {who:10.2}!") 
print(f"My name is {who!r}!") # add quotes
print(f"My name is {who:<10}!") # fixed length, align left
print(f"My name is {who:>10}!") # fixed length, align right
print(f"My name is {who:^10}!") # fixed length, align middle
print(f"My name is {who:.^10}!") # fixed length, align middle, fill spaces

My name is nobody    !
My name is no!
My name is no        !
My name is 'nobody'!
My name is nobody    !
My name is     nobody!
My name is   nobody  !
My name is ..nobody..!

In [153]:
# interpolate expressions, strings
who = "nobody"
print(f"My name is {who[:3]}!")
print(f"My name is {who.upper()}!")
print(f"She holds {sum([1,1,1,1])} aces.")

My name is nob!
My name is NOBODY!
She holds 4 aces.

In [171]:
# number
number = 123456789
print(f"Please call: {number}!")
print(f"Please call: {number: }!")
print(f"Please call: {number:,}!")
print(f"Please call: {number:_}!")
print(f"Please call: {number:+12}!")
print(f"Please call: {number:=+12}!")
print(f"Please call: {-number:12}!")
print(f"Please call: {-number:=12}!")

Please call: 123456789!
Please call:  123456789!
Please call: 123,456,789!
Please call: 123_456_789!
Please call:   +123456789!
Please call: +  123456789!
Please call:   -123456789!
Please call: -  123456789!

In [198]:
# float
float = 1.23456
print(f"{float:10.4}") # 
print(f"{float:.4f}")
print(f"{0.0001234:.4e}")
print(f"{float:.2%}")
print(f"{6.5:.0f}") # when rounding up and down are possible, even rounded down
print(f"{7.5:.0f}") # odd rounded up

     1.235
1.2346
1.2340e-04
123.46%
6
8

In [224]:
# conversion
number = 65
print(f"{number:c}") # ASCII
print(f"{number:b}") # byte code
print(f"{number:X}") # hex

A
1000001
41